<%- include(`./partials/header`) %>


    <!-- container -->
    <div class="container d-flex flex-column text-capitalize">

        <!-- main -->
        <main class="row">
            <% cars.forEach(car=> { %>
                <div class="col-md-4 mb-3 ">
                    <div class="card shadow">
                        <img src="<%= car.images[0].big %>" class="card-img-top w5" alt="...">
                        <div class="card-body">
                            <p class="card-text fw-bold">id: <span id="id">
                                    <%- car.id %>
                                </span></p>
                            <p class="card-text">Name: <span id="name">
                                    <%- car.name %>
                                </span></p>
                            <p class="card-text">Manufacure: <span id="name">
                                    <%- car.brand %>
                                </span></p>
                            <a user-id="${user.id}" href="/cars/<%- car.id %> "
                                class="btn btn-dark main--cards--card--card-body--more-info">more info</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </main>

        <!-- pagination -->
        <div class="row ">
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul id="pagination" class="pagination pagination-sm">
                </ul>
            </nav>
        </div>
    </div>

    <%- include(`./partials/footer`) %>